<H1>Edit Employee</H1>

<div class="container">
  <div class="alert alert-warning" *ngIf="employeeForm.dirty && employeeForm.invalid">Enter valid values</div>
  <div class="alert alert-warning" *ngIf="employeeForm.dirty && name.invalid">Enter valid first name</div>
  <div class="alert alert-warning" *ngIf="employeeForm.dirty && lastName.invalid">Enter valid last name</div>
  
  <form (ngSubmit)="!employeeForm.invalid && saveEmployee()" #employeeForm="ngForm">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" #name="ngModel" 
            [(ngModel)]="employee.name" class="form-control" 
                name="name" required="required" minlength="5">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" #lastName="ngModel" 
            [(ngModel)]="employee.lastName" class="form-control" 
                name="lastName" required="required" minlength="5">
    </div>
    
    
   <!--  <div class="form-group">
      <label >Status:</label>
      <ui-switch></ui-switch>
    </div> -->


    <div class="form-group">
      <label >Designation:</label>
    <!--   <div class="col-xs-9">
    
      </div> -->
      <select [(ngModel)]="mainCategory">
        <!--   <option disabled [ngValue]="null">-/-</option> -->
          <option [ngValue]="category" *ngFor="let category of mainGroups">{{category.title}}</option>
        </select>
    </div>
    
    <!--Subcategory-->
    
    <!-- <div class="form-group">

      <label >:</label>
      <select [(ngModel)]="subCategory">
        <option [ngValue]="subcategory" *ngFor="let subcategory of filterSubById(mainCategory.id)">{{subcategory.title}}</option>
      </select>
    </div>
 -->
    <button type="submit" class="btn btn-success">Save</button>
    <button type="submit" class="btn btn-success">Cancel</button>
  </form>  
</div>